
#main-container {
	width:100%;
	height:2000px;
	color:white;
	font-family:Arial Verdana sans-serif;
	text-align:left;
}
/* MAIN-CONTAINER/ DIV1 */
#first-inside-main-container {
	background:url(images/fon1.jpeg) no-repeat;
	background-size:100%;
	width:100%;
	height:350px;
	overflow:hidden;
}
#first-inside-div1 {
	height:50%;
	width:35%;
	margin:100px 0px 0px 20px;
}
#text-italic-div1 {
	font-style:italic;
	margin:20px 0px;
}
#text-normal-div1 {
	margin:10px 0px;
}
.text-button-div {
	width:20%;
	letter-spacing: 1px;
	padding:5px 15px;
	border:1px solid white;
	border-radius:4px;
	text-transform: uppercase;
	font-size:12px;
	float:left;
	text-align:center;
}
a.text-button {
	text-decoration:none;
	color:white;
}
/*MAIN-CONTAINER/DIV2*/
#second-inside-main-container {
	height:180px;
	background-color:black;
}
#second-inside-div1 {
	width:30%;
	height:100%;
	background-image:url(images/fon2.png);
	background-size:100%;
	float:left;
}
#second-inside-div1-image {
	width:70%;
	margin:70px 0px 0px 10px;
}
#second-inside-div2 {
	float:left;
	margin:25px 0px 0px 30px;
}
#text-button-div2 {
	height:15%;
}
#join-now-button {
	background-color:#E3C383;
	border-color: #E3C383;
	margin:0px 10px 0px 0px;
}
#button-join-now {
	color:black;
}
/*MAIN-CONTAINER/DIV3/BLOCK1*/
.third-and-forth-inside-main-container {
	background-color:black;
	width:100%;
	height:600px;
}
.third-inside-div {
	height:50%;
}
.float {
	float:left;
}
.image-divs {
	width:40%;
	text-align:center;
	margin:40px 0px 0px 0px;
}
.third-text-div {
	width:50%;
	margin: 60px 20px 0px 50px;
}
a.text-button-type2 {
	color:white;
}
.text-width {
	width:80%;
}
/*MAIN-CONTAINER/DIV4*/
#play {
	height:70%;
}
#christmas {
	width:80%;
}
/*MAIN-CONTAINER/DIV5*/

#fifth-inside-main-container {
	width:100%;
	height:180px;
}
#fifth-inside-div1 {
	width:20%;
	float:left;
	text-align:center;
}
#phones {
	height:144px;
}
#fifth-inside-div2 {
	width:70%;
	font-size:26px;
	font-style:italic;
	letter-spacing: 1px;
	color:#3D3935;
}
.fifth-inside-div34 {
	width:15%;
	height:25%;
}
.size {
	width:70%;
}
/*MAIN-CONTAINER/DIV6*/

#sixth-inside-main-container {
	background-color:#F0F0F0;
	width:100%;
	height:60px;
	border:1px solid white;
}
#sixth-inside-div1 {
	width:30%;
	height:30px;
	margin:10px 0px 0px 0px;
	float:left;
}
.logo-images {
	height:90%;
	float:left;
	margin:5px 0px 5px 30px;
}
.logo-size {
	height:20px;
}
#sixth-inside-div2 {
	width:50%;
	height:100%;
	float:right;
}
#box1 {
	width:115px;
	float:left;
	background-color:#F0F0F0;
	margin:8px 12px;
}
#box2 {
	width:300px;
	float:left;
	background-color:#F0F0F0;
	margin:8px 12px;
}
#box3 {
	width:120px;
	float:left;
	text-align:center;
	margin:10px 12px;
}
.text-in-box1 {
	font-size:14px;
	color:#3D3935;
}
#text-in-box2 {
	color:#E0E0E0;
	border:1px solid #E0E0E0;
	border-radius:4px;
}
#text-in-box3 {
	background-color:#3D3935;
	font-weight:bold;
	font-size:12px;
	color:white;
	border:1px solid #402B2E;
	border-radius:4px;
	font-family:Arial Verdana sans-serif;
}


.flex-box{display:flex}
.footer-div{
	flex-flow:row wrap;
	align-content:center;
	
}